
<h2 class="view-heading">Search Sales Orders</h2>


<div class="panel panel-default">

    <div class="panel-title">

    </div>

    <div class="panel-body">
        <div class="form-horizontal padtop_30 padbot_15">

            <div class="row">
                <div class="col-sm-8 form-group">
                    <label for="salesorder_id" class="control-label col-sm-3">Sales Order Id</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control salesorder-id-text"
                               id="salesorder_id"
                               name="salesorder_id"
                               ng-enter="viewModel.search()"
                               ng-model="viewModel.salesorderId" />
                    </div>
                </div>
                <div class="col-sm-8" ng-if="viewModel.searchCompleted">
                    <label for="salesorder_id" class="control-label col-sm-3">&nbsp;</label>

                    <div class="col-sm-8 alert alert-info marbot0" ng-if="!viewModel.response.status">
                        No record found for provided Sales Order Id.
                    </div>
                    <div class="col-sm-8 alert alert-success marbot0" ng-if="viewModel.response.status">
                        Below is the link of searched record: <br />
    
                        <a ng-href="{{viewModel.navigateUrl}}" target="_blank">
                            <span ng-bind="viewModel.navigateUrl"></span>
                        </a>
    
                    </div>
                </div>
                <div class="col-sm-8">
                    <label for="salesorder_id" class="control-label col-sm-3">&nbsp;</label>
					<div class="col-sm-9 padleft_0">
                        <button type="button" ng-click="viewModel.search()" class="btn btn-primary btn-submit">Go <!--<i class="fa fa-arrow-right"></i>--></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>












<div class="panel panel-default">
    <div class="panel-heading">
        <i class="icon-notebook padright_10"></i>Recent Sales Orders
          &nbsp; &nbsp;
        <a ng-click="viewModel.salesorders.loadData()" href="javascript:;">
            <i class="sidebar-icon icon-refresh f20" ng-class="{'fa-spin': viewModel.salesorders.loading }"></i>
        </a>

    </div>
    <div class="panel-body">
                  
        <div ng-show="viewModel.salesorders.hasData">
            <div class=table-responsive>
                <table class="table ">
                    <thead>
                        <tr>
                            <th>Last Modified Date</th>
                            <th>Sales Order #</th>
                            <th>External System Id</th>
                            <th>Customer</th>
                            <th>Status</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in viewModel.salesorders.data">
                            <td>{{ item.lastmodifieddate }}</td>
                            <td>
                                <a ng-href="/app/accounting/transactions/salesord.nl?id={{ item.id }}" target="_blank">
                                    {{ item.tranid }}
                                </a>
                            </td>
                            <td>{{ item.externalsystemrecordid }}</td>
                            <td>
                                <a ng-href="/app/common/entity/custjob.nl?id={{ item.entity.value }}" target="_blank">
                                    {{ item.entity.text }}
                                </a>
                            </td>
                            <td>{{ item.status.text }}</td>
                            <td>{{ item.total }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div ng-hide="viewModel.salesorders.hasData" class="alert alert-info">
            no records found.
        </div>

    </div>
</div>





