<div class="row alerts-container" data-ng-show=alerts.length>
    <div class=col-xs-12>
        <alert data-ng-repeat="alert in alerts" type={{alert.type}} close=closeAlert($index)>{{alert.msg}}</alert>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-8 col-xs-12">
        <rd-widget>
            <rd-widget-body>
                <!--<div class="widget-icon green pull-left"><i class="fa fa-users"></i></div>-->
                <div class="info-box-icon green"><i class="icon-users"></i></div>
                <div class=title>{{viewModel.customerCount}}</div>
                <div class=comment>Customers</div>
            </rd-widget-body>
        </rd-widget>
    </div>
    <div class="col-lg-4 col-md-8 col-xs-12">
        <rd-widget>
            <rd-widget-body>
                <!--<div class="widget-icon red pull-left"><i class="fa fa-tasks"></i></div>-->
                <div class="info-box-icon red"><i class="icon-notebook"></i></div>
                <div class=title>{{viewModel.salesOrderCount}}</div>
                <div class=comment>Sales Orders</div> 
                
            </rd-widget-body>
        </rd-widget>
    </div>
    <div class="col-lg-4 col-md-8 col-xs-12">
        <rd-widget>
            <rd-widget-body>
                <!--<div class="widget-icon orange pull-left"><i class="fa fa-sitemap"></i></div>-->
                <div class="info-box-icon orange"><i class="icon-list"></i></div>
                <div class=title>{{viewModel.itemCount}}</div>
                <div class=comment>Items</div>
            </rd-widget-body>
        </rd-widget>
    </div>
</div>



<div class="row">

    <div class="col-lg-4 col-md-8 col-xs-12">




<div class="panel panel-default" ng-init="viewModel.customers.loadData({limit: 5})"> 
    <div class="panel-heading">
        <i class="fa fa-tasks"></i> &nbsp; 
        Recent Customers
          &nbsp; &nbsp;
        <a ng-click="viewModel.customers.loadData({limit: 5})" href="javascript:;">
            <i class="fa fa-refresh" ng-class="{'fa-spin': viewModel.customers.loading }"></i>
        </a>

    </div>
    <div class="panel-body">
                  
        <div ng-show="viewModel.customers.hasData">
            <div class=table-responsive>
                <table class="table ">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Last Modified</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in viewModel.customers.data">
                            <td>
                                <a ng-href="/app/common/entity/custjob.nl?id={{ item.id }}" target="_blank">
                                    {{ item.id }}
                                </a>
                            </td>
                            <td>{{ item.isperson ? (item.firstname + ' ' + item.lastname) : item.companyname }}</td>
                            <td>{{ item.lastmodifieddate }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div ng-hide="viewModel.customers.hasData" class="alert alert-info">
            no records found.
        </div>

    </div>
</div>


    </div>
    <div class="col-lg-4 col-md-8 col-xs-12">


        <div class="panel panel-default" ng-init="viewModel.salesorders.loadData({limit: 5})">
            <div class="panel-heading">
                <i class="fa fa-tasks"></i> &nbsp; 
                Recent Sales Orders
                  &nbsp; &nbsp;
                <a ng-click="viewModel.salesorders.loadData({limit: 5})" href="javascript:;">
                    <i class="fa fa-refresh" ng-class="{'fa-spin': viewModel.salesorders.loading }"></i>
                </a>

            </div>
            <div class="panel-body">
                          
                <div ng-show="viewModel.salesorders.hasData">
                    <div class=table-responsive>
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th>NS Order #</th>
                                    <th>Imported Order #</th>
                                    <th>Last Modified</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in viewModel.salesorders.data">
                                    <td>
                                        <a ng-href="/app/accounting/transactions/salesord.nl?id={{ item.id }}" target="_blank">
                                            {{ item.tranid }}
                                        </a>
                                    </td>
                                    <td>{{ item.externalsystemrecordid }}</td>
                                    <td>{{ item.lastmodifieddate }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div ng-hide="viewModel.salesorders.hasData" class="alert alert-info">
                    no records found.
                </div>

            </div>
        </div>


    </div>
    <div class="col-lg-4 col-md-8 col-xs-12">





        <div class="panel panel-default" ng-init="viewModel.items.loadData({limit: 5})">
            <div class="panel-heading">
                <i class="fa fa-tasks"></i> &nbsp; 
                Recent Items
                  &nbsp; &nbsp;
                <a ng-click="viewModel.items.loadData({limit: 5})" href="javascript:;">
                    <i class="fa fa-refresh" ng-class="{'fa-spin': viewModel.items.loading }"></i>
                </a>

            </div>
            <div class="panel-body">
                          
                <div ng-show="viewModel.items.hasData">
                    <div class=table-responsive>
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Item Name</th>
                                    <th>Last Modified</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in viewModel.items.data">
                                    <td>
                                        <a ng-href="/app/common/item/item.nl?id={{ item.id }}" target="_blank">
                                            {{ item.id }}
                                        </a>
                                    </td>
                                    <td>{{ item.itemid }}</td>
                                    <td>{{ item.lastmodifieddate }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div ng-hide="viewModel.items.hasData" class="alert alert-info">
                    no records found.
                </div>

            </div>
        </div>



    </div>
</div>




<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading"><i class="fa fa-tasks"></i> &nbsp; Failed Sales Orders</div>
          <div class="panel-body">
            <div class=table-responsive>
                    <table class="table" ng-if="!!viewModel.failedSalesOrders && !!viewModel.failedSalesOrders.length">
                        <thead>
                        <tr>
                            <th class=text-center>ID</th>
                            <th>Number</th>
                            <th>Date</th>
                            <th>Details</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in viewModel.failedSalesOrders track by $index">
                            <td class=text-center><a target="_blank" href="{{ x.url }}">{{ x.internalid }}</a></td>
                            <td>{{ x.tranid }}</td>
                            <td>{{ x.trandate }}</td>
                            <td>{{ x.custbody_f3mg_magento_sync_status }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div ng-if="!viewModel.failedSalesOrders || !viewModel.failedSalesOrders.length" class="alert alert-info">
                        No failed sales orders found.
                    </div>
                </div>
          </div>
        </div>
    </div>
</div>